

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

header{
    display: flex;
   
    align-items: center;
    padding: 30px 30px 100px 100px;
    position: relative;
    border-bottom: 1px solid darkgray;
    padding-top: 50px;
}

body{
    padding-left: 100px;
    padding-right: 100px;
}

.logo{
    cursor: pointer;
    width: 100px;
    position: absolute;
    left: 0;
    
}

.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 0;

}

.cart{
    width: 50px;
    position: absolute;
    right: 70px;
}

.nav_links{
    padding-left: 40px;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container{
    display: flex;
    width: 1500px;
    margin: auto;
}

.carrousel{
    width: 50%;
}

.big_img{
    width: 500px;
}

.big_img img{
    width: inherit;
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-top: 100px;
}

.images{
    display: flex;
    justify-content: space-between;
    width: 67%;
    margin-top: 15px;
}

.small_img{
    width: 100px;
    overflow: hidden;
 
    border-radius: 15px;
}
.small_img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
   
}
#first_small{
    border: solid 1px darkorange;
}

.small_img:hover img{
    transform: scale(1,2);
}

.product{
    width: 40%;
}

.shop_name{
    margin-top: 150px;
    color: darkorange;
}

.product_name{
    font-size: 50px;
    font-weight: 1000;
    margin-top: 15px;
}


.product_description{
    font-size: 20px;
    margin-top: 15px;
    color: gray;
    width: 90%;
}

.price{
    font-size: 30px;
    font-weight: 1000;
    margin-top: 20px;
}

.discount{
    color: darkorange;
    background-color: lightpink;
    border: 1px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 5px;
    margin-left: 10px;
    
 
  
 
}

.past_price{
    color: gray;
    background-color: whitesmoke;
    border: 1px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;
    width: 10%;
    margin-top: 10px;
}

.last_section{
    margin-top: 20px;
    display: flex;
}
.wrapper{
    height: 50px;
    width: 160px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.wrapper span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.plus, .minus{
    color: darkorange;
}

.add_to_cart{
    height: 50px;
    font-size: 20px;
    margin-left: 20px;
    width: 300px;
    border: 1px;
    border-radius: 10px;
    background-color: darkorange;
    color: white;

}